<h1>Herzlich Willkommen</h1>
<p>"MeinLieblings"へようこそ！このアプリはドイツに特化したビール批評アプリです。</p>

<%= link_to "ビールを探す", users_verify_age_path %>

<div class="row justify-content-left">
  <div class="col-5">
    <div class="images d-flex justify-content-left">
      <%= image_tag 'bier.top.jpg', :size => '500x500' %>
    </div>
  </div>
</div>
