<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p><%= @post.content %>
      </p>

      <% if @current_user.id == @user.id  %>
      <div class="post-show-edit">
       <%=link_to "編集", edit_post_path(@post) %>
      </div>
    <% end %>
  </div>
 </div>

