<p>
  <%= @region %>についての検索結果
</p>
<div class="row">
<% @records.each do |record| %>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <%= image_tag record.image.to_s, class: "card-img-top" %>
      <div class="card-body">
        <p class="card-text">
        <%= record.deutsch_name %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "view", bier_path(record),class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>